*{margin:0;padding:0;}
body{margin:auto;text-align:center;font-family:Tahoma;}
img{border:0;}
a:link, a:visited{text-decoration:none;}
a:link{color:#0000CC;}
a:visited{color:#0044DD;}
a:hover, a:active{color:#FF3300;text-decoration:underline;}
input{vertical-align:middle;}
.overflow{overflow:hidden;zoom:1;}
.color_ff0000{color:#F00;}
.color_999999{color:#999;}
.clear{clear:both;}
.scoreinfo{position:absolute;visibility:hidden;width:350px;border:1px solid #4D74A2;}
.si_tb{width:100%;background:#E0E9F6;text-align:center;}
.si_tb td{background:#FFF;padding:2px;font-size:11px;line-height:120%;}
.si_tb td.si_time{background:#E0E9F6;font-family:Tahoma;font-size:11px;font-weight:700;}
td.si_odds{font-weight:700;}
td.si_tips{background:#E8EFF9;}