{% load staticfiles %}
{% load cache %}
{% load video_templatetags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ info.title }} - Mybongda</title>
    <meta name="title" content="{{ info.title }} - Mybongda">
    <meta property="og:title" content="{{ info.title }} - Mybongda" />
    <meta name="description" content="{{ info.title }} - Xem bóng đá trực tuyến - Trực tiếp bóng đá chất lượng cao full HD , cập nhật tỷ số , soi kèo và nhận định tip kèo giúp người chơi có những sự lựa chọn sáng suốt chiến thắng kèo nhà cái.">
    <meta property="og:description" content="{{ info.title }} - Xem bóng đá trực tuyến - Trực tiếp bóng đá chất lượng cao full HD , cập nhật tỷ số , soi kèo và nhận định tip kèo giúp người chơi có những sự lựa chọn sáng suốt chiến thắng kèo nhà cái." />
    <meta name="keywords" content="{{ info.title|generator_keyword }}, truc tiep bong da, xem bong da truc tuyen, bong da truc tuyen, xem bong da truc tiep, k cong bong da, tip bong da">

    {% cache 500 css %}
    <meta name="alexaVerifyID" content="l8nGAWFtG6Xo2ZThiIZ2AE43ZlQ"/>
	<meta http-equiv="content-language" content="vi"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mybongda.com/" />
	<meta property="og:site_name" content="Mybongda.com"/>
	<link rel="icon" type="img/ico" href="{% static 'frontend/img/logonew.ico'%}">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Mybongda.com">

    <meta name="robots" content="index,follow,noodp">
    <meta name="distribution" content="Global">
    <meta name="revisit-after" content="1 days">


    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'frontend/css/jquery.bxslider.css' %}">-->
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

    {% endcache %}
	
	<script src="{% static 'frontend/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'frontend/js/jquery.bxslider.min.js' %}"></script>
	<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'frontend/js/script.js' %}"></script>

    {% block css %}
    {% endblock %}
</head>

<body>
<div class="wrapper">
    {% cache 500 header %}
    {% include 'layout/header.html' %}
    <!-- header -->
    {% endcache %}

    <div class="main_content">

        {% cache 500 top_ads %}
        <div class="mbd_container">
            <div class="rlt">
                <div class="ads_area_01">
                    <div class="close_ads">
                        <p><span>x</span>tắt quảng cáo</p>
                    </div>
                    <a rel="nofollow" href="http://qq188ee.com/?Id=312&AdType=0" target="_blank">
                        <img style="border:1px solid red;"
                             alt="Casinovietqq188 Sòng Bài Trực Tuyến Casino Online Uy Tín Hàng Đầu Việt Nam" title="Casinovietqq188 Sòng Bài Trực Tuyến Casino Online Uy Tín Hàng Đầu Việt Nam"
                             border="0"
                             src="http://i.imgur.com/pu9Vfqi.gif"
                             width="120" height="300">
                    </a>
                    <a target="_blank" href="http://www.play11.com/vn">
                        <img alt="Play11" src="http://i.imgur.com/N3f4tOy.gif" border="0">
                    </a>
                </div>
                <div class="ads_area_02">
                    <a target="_blank" href="http://www.ws88.com/?intr=daili9">
                        <img alt="WS88" title="WS88" src="http://i.imgur.com/JGQSSTX.gif" border="0">
                    </a>
					<a target="_blank" href="http://goo.gl/3k4pGU">
                        <img alt="fun88" src="http://i.imgur.com/gMNR69e.gif" border="0">
                    </a>
					
                </div>
            </div>
        </div>
        {% endcache %}

        <div class="mbd_container">

            {% cache 500 menu_top %}
            <div class="body_content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="top_vert_menu menu">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="active"><a href="{% url 'fixture:index' %}">Lịch Phát
                                        Sóng Bóng Đá</a></li>
                                    <li role="presentation"><a target="_blank" titile="bảng xếp hạng" href="/trang/1-bang-xep-hang">Bảng Xếp Hạng</a></li>
                                    <li role="presentation"><a target="_blank" titile="link sopcast" href="/trang/3-link-sopcast">Link Sopcat</a></li>
                                    <li role="presentation"><a target="_blank" titile="kết quả bóng đá" href="/trang/4-ket-qua-tran-dau-ket-thuc">Kết quả trận đấu kết thúc</a></li>
                                    <li role="presentation"><a target="_blank" titile="number game" href="/trang/7-number-game">Room Number Game</a></li>
                                    <li role="presentation"><a target="_blank" titile="nhà cái uy tín" href="/trang/9-nha-cai-uy-tin">Nhà Cái Uy Tín</a></li>
                                    <li role="presentation"><a target="_blank" titile="bóng ảo" href="/trang/5-bong-da-ao">Room bóng ảo</a></li>
                                    <li role="presentation"><a target="_blank" titile="bong88" href="/trang/6-link-vao-bong-88-khong-bi-chan">Vào Bong88</a></li>
                                    <li role="presentation"><a titile="Tip mỗi ngày" target="_blank" href="http://tip.mybongda.com">Tip Mỗi Ngày</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="top_ads">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a target="_blank" href="http://www.bet365tt.com/?intr=bongdamy">
                                            <img width="100%" height="80px"
                                                 alt="Bet365- Casino, trò chơi trực tuyến, tham gia cá cược xổ số, thể thao, bóng đá trực tuyến"
                                                 src="http://i.imgur.com/eDCyOoS.gif" border="0"></a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href="http://omg.idn999.com/?Id=576&AdType=1" target="_blank">
                                            <img width="100%" height="80px"
                                                 alt="idn999- Casino, trò chơi trực tuyến, tham gia cá cược xổ số, thể thao, bóng đá trực tuyến"
                                                 id="BANNER222_rptAds_ctl01_imgAd" src="http://image.prntscr.com/image/1218ac4b29b84e19ab818e22349fe6d3.gif "
                                                 style="border-width:0px;"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a target="_blank"
                                           href="http://qq288dd.com/?Id=603&AdType=0">
                                            <img width="100%" height="80px"
                                                 src="http://i.imgur.com/b6vu4Rq.gif" title="Thethaoqq288 Nhà Cái Cá Cược Thể Thao Bóng Đá Trực Tuyến Uy Tín" alt="Thethaoqq288 Nhà Cái Cá Cược Thể Thao Bóng Đá Trực Tuyến Uy Tín"
                                                 border="0"></a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a id="BANNER222_rptAds_ctl01_lnkAd"
                                           href="http://www.7liveasia88.com/Main/home.aspx?lang=vi-VN" target="_blank">
                                            <img width="100%" height="80px"
                                                 alt="7Live - Casino, trò chơi trực tuyến, tham gia cá cược xổ số, thể thao, bóng đá trực tuyến"
                                                 id="BANNER222_rptAds_ctl01_imgAd" src="http://i.imgur.com/9m2rITM.gif"
                                                 style="border-width:0px;"></a>
                                    </div>
                                </div>
								 <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a target="_blank"
                                           href="http://goo.gl/V3IBU5">
                                            <img alt="Tip Uy tín" width="100%" height="80px"
                                                 src="http://i.imgur.com/GXabiPC.gif"
                                                 border="0"></a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a id="BANNER222_rptAds_ctl01_lnkAd"
                                           href="http://goo.gl/XKjxrU" target="_blank">
                                            <img width="100%" height="80px"
                                                 alt="uedbet"
                                                 id="BANNER222_rptAds_ctl01_imgAd" src="http://i.imgur.com/tLr00ts.gif"
                                                 style="border-width:0px;"></a>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a target="_blank"
                                           href="http://www.vwin99.com/">
                                            <img width="100%" height="80px"
                                                 src="http://i.imgur.com/ymqyDpD.gif"
                                                 border="0"></a>
                                    </div>
									<div class="col-md-6 col-sm-6 col-xs-6">
                                        <a target="_blank"
                                           href="http://mybet.fullbet88aa.com/vi-VN/Home">
                                            <img width="100%" height="80px"
                                                 alt="fullbet88" src="http://i.imgur.com/0NZWqyx.gif"
                                                 border="0"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endcache %}

            {% block content %}
            {% endblock %}
        </div>

        {% cache 500 bottom_ads %}
        <!-- main_content -->
        <div class="ads_area_03">
            <div class="close_ads"><p>Tắt Quảng Cáo <span>[X]</span></p></div>
            <a href="http://c.bong99.com/" target="_blank">
                <img src="http://i.imgur.com/RcXPTey.gif" alt="300x250 mibet" width="200" height="200"/>
            </a>
        </div>
        <div class="chat_room">
            <div class="lable-chatbox"><i class="fa fa-weixin chat-icon"></i><br/>Chém gió</div>
            <div class="frame_chat" style="display: none; position: absolute; right: 0; top: 50px;">
                <script id="sid0010000080383556233">(function () {
                    function async_load() {
                        s.id = "cid0010000080383556233";
                        s.src = 'http://st.chatango.com/js/gz/emb.js';
                        s.style.cssText = "width:300px;height:490px;";
                        s.async = true;
                        s.text = '{"handle":"mybongda","styles":{"a":"959595","b":100,"c":"ffffff","d":"ffffff","e":"ffffff","g":"000000","h":"ffffff","j":"000000","k":"bbbbbb","l":"0D82B3","m":"0D82B3","n":"0D82B3","p":12,"s":1,"t":0,"allowpm":0,"v":0}}';
                        var ss = document.getElementsByTagName('script');
                        for (var i = 0, l = ss.length; i < l; i++) {
                            if (ss[i].id == 'sid0010000080383556233') {
                                ss[i].id += '_';
                                ss[i].parentNode.insertBefore(s, ss[i]);
                                break;
                            }
                        }
                    }

                    var s = document.createElement('script');
                    if (s.async == undefined) {
                        if (window.addEventListener) {
                            addEventListener('load', async_load, false);
                        } else if (window.attachEvent) {
                            attachEvent('onload', async_load);
                        }
                    } else {
                        async_load();
                    }
                })();</script>
            </div>
        </div>
        {% endcache %}
    </div>
    <!-- main content -->

    {% cache 500 footer %}
    {% include 'layout/footer.html' %}
    <!-- footer -->
    {% endcache %}
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1469016329999701";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- GoogleAnalyticsObject -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48770984-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'vi'}
</script>
{% block js %}
{% endblock %}
</body>
</html>
