<div class="footer">
    <div class="menu">
        <div class="mbd_container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <ul>
                            <li><a href="http://tipsbetwin.com" title="" target="_blank"> TIP FREE</a></li>
                            <li><a href="http://bongdalu.com" title="livescore" target="_blank"> www.nowgoal.com</a></li>
                            <li><a href="http://bongdaeu.com" title="Keo bong da" target="_blank"> Keo bong da</a></li>
                            <li><a href="http://vn2.7msport.com/pk_live_vn.aspx" title="Tỷ số bóng đá" target="_blank">Tỷ số bóng đá</a></li>
                            <li><a href="http://www.m88co.com" title="Link m88" target="_blank">Link m88</a></li>
                            <li><a href="http://linkvaow88vn.com" title="w88" target="_blank">w88</a></li>
                            <li><a href="http://linkvaow88vn.com" title="link vao w88" target="_blank">link vao w88</a></li>
                            <li><a href="http://mybongda.com/truc-tiep-bong-da/" title="Xem bong da truc tuyen" target="_blank">Xem bong da truc tuyen</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <ul>
                            <li><a href="http://casinosonline100.com/" title="Casino Online" target="_blank"> Casino Online</a></li>
							<li><a title="M88" href="http://linkm88.net" target="_blank">M88</a></li>
							<li><a href="http://vietfun88.net" title="fun88" >fun88</a></li>
							<li><a href="http://mybongda.com/truc-tiep-bong-da/" title="xem truc tiep bong da" >xem truc tiep bong da</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <ul>
                            <li><a href="http://forum.vietcado.net/" title="Betting forum" target="_blank"> Betting forum</a></li>
                            <li><a href="http://vietfun88.net" title="link vào fun88" target="_blank"> Link vào fun88</a></li>
                            <li><a href="http://linktruycapfun88vn.com" title="link fun88" target="_blank"> Link fun88</a></li>
                            <li><a href="http://linktruycapfun88vn.com" title="fun88" target="_blank"> fun88</a></li>
                            <li><a href="http://casino889.net/tai-khoan-dung-thu-bong88.html" title="Link vao bong88" target="_blank">bong88</a></li>
                            <li><a href="http://casino889.net/khuyen-mai.html" title="cá độ bóng đá" target="_blank">cá độ bóng đá</a></li>
                            <li><a href="http://casino889.net/khuyen-mai.html" title="ca do bong da" target="_blank">ca do bong da</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <ul>
                            <li><a href="http://mybongda.com/trang/6-link-vao-bong-88-khong-bi-chan" title="Link vào bóng 88" target="_blank"> Bóng 88</a></li>
                            <li><a href="http://mybongda.com/trang/9-nha-cai-uy-tin" title="Nhà cái uy tín" target="_blank"> Nhà cái uy tín nhất</a></li>
                            <li><a href="http://khuyenmai188bet.com" title="188bet" target="_blank">188bet</a></li>
                            <li><a href="http://khuyenmaim88.com" title="m88" target="_blank">M88</a></li>
							<li><a href="http://bongdalu.com" title="Tỷ số bóng đá" target="_blank"> Tỷ số bóng đá</a></li>
                            <li><a href="http://mybongda.com" title="Truc tiep bong da" target="_blank">Truc tiep bong da</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="mbd_container">
            <p><i class="fa fa-futbol-o"></i> Mybongda.com · Created by Alana Matos</p>

            <p>Thông tin liên hệ và tài trợ: <i class="fa fa-envelope-o"></i> lienhemybongda@gmail.com or
                alana709qawv2matos@gmail.com</p>

            <p>Hệ thống máy chủ đặt tại: Việt Nam - Singapore và US Hotline: +61 410 728 999 (Úc châu)</p>
        </div>
    </div>
</div>