<div class="ads_area">
    <a href="http://www.v9b.com/vi-vn">
        <img width="100%" alt="quảng cáo v9bet" src="http://i.imgur.com/sMnvaGY.gif"
             class="img-responsive" />
    </a>
</div>

<div class="ads_area">
	<a alt="w88 casino" target="_blank" href="https://www.w88live.com/?affiliateid=326">
								<img  alt="quảng cáo mybongda" width="100%" height="200" src="http://i.imgur.com/gsorfYd.gif" class="img-responsive">
							</a>
</div>

<div class="ads-right">
    <a style="border:none" href="http://goo.gl/JQaCAI"
       target="_blank">
        <img height="200" width="100%" style="border:none;padding:0px;margin:0px;"
             src="http://i.imgur.com/YpV3Qw0.gif">
    </a>
</div>

<div class="ads-right">
    <script id="sid0010000080383556233">(function () {
        function async_load() {
            s.id = "cid0010000080383556233";
            s.src = 'http://st.chatango.com/js/gz/emb.js';
            s.style.cssText = "width:100%;height:450px;";
            s.async = true;
            s.text = '{"handle":"mybongda","styles":{"a":"959595","b":100,"c":"ffffff","d":"ffffff","e":"ffffff","g":"000000","h":"ffffff","j":"000000","k":"bbbbbb","l":"0D82B3","m":"0D82B3","sbc":"ff9900","n":"0D82B3","p":12,"s":1,"t":0,"allowpm":0,"r":100}}';
            var ss = document.getElementsByTagName('script');
            for (var i = 0, l = ss.length; i < l; i++) {
                if (ss[i].id == 'sid0010000080383556233') {
                    ss[i].id += '_';
                    ss[i].parentNode.insertBefore(s, ss[i]);
                    break;
                }
            }
        }

        var s = document.createElement('script');
        if (s.async == undefined) {
            if (window.addEventListener) {
                addEventListener('load', async_load, false);
            } else if (window.attachEvent) {
                attachEvent('onload', async_load);
            }
        } else {
            async_load();
        }
    })();</script>
</div>

<div class="ads-right">
    <a alt="Fun88" target="_blank" href="http://www.fun027.com/lm/aff/biiidiii_vi_home">
								<img style="max-width:300px;" alt="quảng cáo mybongda" width="100%" height="250" src="https://2.bp.blogspot.com/-lurklAp-eOA/VwYSYuPKWzI/AAAAAAAABLk/PI4xZQaC0yoZFptlk7vSANVA7oFfanPSw/s1600/unnamed.gif" class="img-responsive">
	</a>
</div>